.forget-pw {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 700px;
  background-image: url("../../../assets/images/background/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  background-position: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #fff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px;
    height: 300px;
    padding: 30px 50px;
    border-radius: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__content {
    margin-top: 20px;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        font-size: 20px;
        padding: 0px 23px;
      }
    }
  }
}
